.container {
   color: white;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-content: stretch;
   padding: 1px;
}

.flextitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flexslide {
    background-color: black;
    height: 80vh;
    width: 90vw;
    align-self: center;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}

.flexplayer {
    align-self: center;
    outline: none;
    padding-top: 1em;
}

div {
    background-color: black;
}

body {
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#one {
    font-family: Arial, Helvetica, sans-serif;
}

#midnight {
    z-index: 1;
    right: 40%;
    top: 40%;
    font-size: 2rem;
    position: absolute;
}

#city {
    z-index: 1;
    position: absolute;
    right: 30%;
    top: 30%;
    font-size: 12rem;
}

#first {
    position: relative;
    width: 88%;
    height: 60%;
    left: 5%;
}

#series {
    z-index: 1;
    position: absolute;
    right: 60%;
    top: 70%;
}

#created {
    z-index: 1;
    position: absolute;
    right: 60%;
}

#fivea {
    max-width: 100%;
    max-height: 100%;
}

#fiveb {
    max-width: 100%;
    max-height: 100%;
}